.page-id-25{
  .entry-title{
    text-transform:uppercase;
    font-family:$accent;
    font-size: 27px;
    letter-spacing: 2px;
    background:transparent;
    color:black;
  }

  .entry-content{
    h2{
      font-family:$accent;
      margin-top:2rem;
      font-size:1.7rem;
      font-weight:bold;
      text-transform:uppercase;
    }
  }

  .wpcf7-form{
    p{
      font-family:$accent;
      text-transform:uppercase;
      
        margin:10px;
       
      
    }
  }
  .wpcf7-submit{
    border: none;
    color: white;
    background-color:$green;
    text-transform:uppercase;
    font-family:$accent;
  }

}