.page-id-25{
  .entry-title{
    text-transform:uppercase;
    font-family:$accent;
    font-size: 27px;
    letter-spacing: 2px;
    background:transparent;
    color:black;
  }

  .entry-content{
    h2{
      font-family:$accent;
      margin-top:2rem;
      font-size:1.7rem;
      font-weight:bold;
      text-transform:uppercase;
    }
  }
}