.site-footer{
  background: url(../../images/dark-wood.png);
  background-size: 512px 512px;
  color: #fff;
  height:355px;
}

.footer-info-des{
display:flex;
	justify-content: space-around;
	height:300px;
	width:100%;
	background-size:cover;
	padding-top:2.5rem;
}
.footer-text{
	
  color:$orange;
	font-family:$accent;
	padding-left:9px;
	text-transform:uppercase;
	padding-bottom:10px;
	
}

.footer-text-business{
	
  color:$orange;
	font-family:$accent;
	
	text-transform:uppercase;
	padding-bottom:10px;
	
}

.footer-text-business-hours{
	
  color:white;
	font-family:$main;
	
	line-height:2;
	span{
		font-weight:bold;
		font-family:$main;
	}
	
}
.footer-info-contact{
	color:white;
	font-family:$main;
}
.footer-info-contact a{
	color:white;
	text-decoration: none;
	font-family:$main;
}
.text-logo a{
	img{
	width:250px;
	}
}
.social-media-icons{
	font-size:1.5rem;
}
.footer-copyright{
text-align: center;
padding-bottom:1.5rem;
color:white;
font-family:$accent;
text-transform:uppercase;


}

.fa{
  padding:10px;
}