.home-hero{
  background: url(../../images/home-hero.jpg);
  background-size: cover;
  
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;

}

.home-journal{
  display:flex;
  justify-content:space-around;
  max-width:70%;
  margin-right:auto;
  margin-left:auto;
}
.site-main{

}

.journal-entry-home{
  border:$solid_border;
  max-width:23%;
  height:20vw;
}

.home-journal-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;
  
}

.product-type-blocks{
  display: flex;
}

.read-more-button-home{
  position:absolute;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  text-decoration:none;
  font-family:$accent;
  padding:10px;
  text-transform:uppercase;
  margin:10px;


}

.journal-entry-meta-home{
  font-family: $main;

}
.journal-entry-title-home{
  font-family: $accent;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $green;
  text-decoration: none;
  font-weight: bold;

}

.home-shop-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;

}
.home-adventures-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;
}

.home .product-type-blocks img {
  height: 70px;
  width: 70px;
}

.product-type-blocks{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content: space-around;
  
}
.product-type-block-wrapper{
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding:20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  width:23%;
  font-family: $main;
   p {
     padding:10px;


     a{
       color:white;
      background-color: $green;
     margin-top:2rem;
    padding:10px;
    font-size:1rem;
    font-family:$accent;
    text-transform:uppercase;
     }
  
  }
}

.home-adventures{
  color:white;
  font-size:40px;
  font-family:$accent;

  max-width:80%;
  margin-left:auto;
  margin-right:auto;
  display:grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .adventure-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background:url(../../images/canoe-girl.jpg);
    height:100%;
    
    background-size: cover;
    
  }
  .adventure-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    
    background:url(../../images/beach-bonfire.jpg);
    height:50vh;
    
    background-size: cover;
  }
  .adventure-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background:url(../../images/mountain-hikers.jpg);
    height:50vh;
    
    background-size: cover;
  }
  .adventure-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background:url(../../images/night-sky.jpg);
    height:50vh;
    
    background-size: cover;
  }


}

.icon-search{
  i{
    color:$green;
  
  height:2rem;
  width:auto;}
}