.home-hero{
  background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;;
  background-size: cover;
  background-color:grey;
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  
  

}

.home-journal{
  display:flex;
  justify-content:space-around;
  max-width:85%;
  margin-right:auto;
  margin-left:auto;
}
.site-main{

}

.journal-entry-home{
  border:$solid_border;
  width:31%;
  height:30vw;
  img{
    width:100%;
    height:250px;
    display:block;
  }
  p{
    padding-top:15px;
  }
  
}

.home-journal-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;
  
}

.product-type-blocks{
  display: flex;
}

.read-more-button-home{
  position:relative;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  text-decoration:none;
  font-family:$accent;
  padding:15px;
  text-transform:uppercase;
  margin:20px;
  top:20px;
  

}

.journal-entry-meta-home{
  font-family: $main;
  
  padding-left:15px;
  font-size:12px;
  border-top: 5px solid #e1e1e1;

}
.journal-entry-title-home{
  font-family: $accent;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $green;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;
  padding-left:15px;

}

.home-shop-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;

}
.home-adventures-header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: $accent;
  font-size: 2.4rem;
  font-weight:400;
  height:10vw;
  text-transform: uppercase;
}

.home .product-type-blocks img {
  height: 70px;
  width: 70px;
}

.product-type-blocks{
  width:85%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content: space-around;
  
}
.product-type-block-wrapper{
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding:20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  width:23%;
  font-family: $main;
   p {
     padding-top:15px;
     line-height:1.5;
     font-family:$main;
     padding-bottom:15px;
     text-align:center;


     a{
       color:white;
      background-color: $green;
     margin-top:2rem;
    padding-top:13px;
    padding-bottom:13px;
    padding-left:20px;
    padding-right:20px;
    font-size:.9rem;
    font-family:$accent;
    text-transform:uppercase;
     }
  
  }
}

.home-adventures{
  color:white;
  font-size:45px;
  font-family:$main;
  

  max-width:78%;
  margin-left:auto;
  margin-right:auto;
  display:grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .black-button{
    position:relative;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-decoration:none;
    font-family:$accent;
    padding:15px;
    text-transform:uppercase;
    margin:20px;
    top:8px;
    font-size:15px;
  }
  .adventure-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/canoe-girl.jpg) no-repeat top;
    height:100%;
    
    background-size: cover;
    h1{
      padding-left:20px;
      padding-right:40px;
      padding-top:30px;
      line-height:1.5;
      font-size:45px;
    }
  }
  .adventure-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/beach-bonfire.jpg) no-repeat top;
    
    height:42vh;
    
    background-size: cover;
    h1{
      padding-left:20px;
      padding-right:40px;
      padding-top:30px;
      line-height:1.5;
      font-size:35px;
    }
    .black-button{
      position:relative;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      text-decoration:none;
      font-family:$accent;
      padding:15px;
      text-transform:uppercase;
      margin:20px;
      top:0px;
    }
  }
  .adventure-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/mountain-hikers.jpg) no-repeat top;
    height:42vh;
    
    background-size: cover;
    h1{
      padding-left:20px;
      padding-right:40px;
      padding-top:30px;
      line-height:1.5;
      font-size:25px;
    }
    .black-button{
      position:relative;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      text-decoration:none;
      font-family:$accent;
      padding:15px;
      text-transform:uppercase;
      margin:20px;
      top:0px;
    }
  }
  .adventure-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/night-sky.jpg) no-repeat top;
    height:42vh;
    
    background-size: cover;
    h1{
      padding-left:20px;
      padding-right:40px;
      padding-top:30px;
      line-height:1.5;
      font-size:25px;
    }
  }


}
.more-adventures{
 padding:15px;
 text-align:center;
 color: white;
 background-color:$green;
 text-transform:uppercase;
 font-family:$accent;
 width:15%;
 margin-left:11%;
 margin-right:auto;
 margin-top:10px;
 margin-bottom:10px;
}

.icon-search{
  i{
    color:$green;
  
  height:2rem;
  width:auto;}

  
}