/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.entry-title{
  background-color:$green;
  color:white;
  position:relative;

}
.entry-meta{
  position:relative;
  background-color:$green;
  color:white;
 
  
}
.comments-link a{
  color:white;
  text-decoration: none;
}
