/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.entry-title{
  background-color:$green;
  color:white;
  position:relative;

}

.comments-link a{
  color:white;
  text-decoration: none;
}
