.tax-product-type{
.product-type-title{
  text-transform:uppercase;
  font-family:$accent;
  text-align:center;
  font-size:30px;
  padding:30px;
  font-weight:bold;
}
.taxonomy-description{
  font-family: $main;
  padding-bottom:20px;
  text-align:center;
}

.product-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-gap: 20px;
  padding:20px;
  border-top:$dashed_border;
}



.site-content{
  width:85%;
}

.product-info{
  display:flex;
  justify-content: space-between;
  font-family:$main;
  align-content:center;
  align-items: center;
  padding:10px;
  border:$solid_border;
  border-top: 5px solid #e1e1e1;
  

}


}