.post-type-archive-product{
    .site-content{
      width:100%;
    }

  .product-type-blocks-archive{
  color:$green;
  font-size: 20px;
  
  width:50%;
  margin-right:auto;
  margin-left:auto;


}
.site-main{
  padding-top:20px;
  border-top:$dashed_border;
}

.content-area{
  
  width:100%;
}

.shop-entry-info{
  display:flex;
  justify-content: space-between;
  font-family:$main;
  align-content:center;
  align-items: center;
  padding:10px;
  border:$solid_border;
  border-top: 5px solid #e1e1e1;
  position:absolute;
  top:100%;
}
.entry-header{
  img{
    
    width:300px;
    left: 50%;
    
    
    top: 50%;
    -webkit-transform: translate(-50%,-52%);
    transform: translate(-50%,-52%);
    width: auto;
    overflow:hidden;
}
.shop-entry-image-wrapper{
  
  height:199px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-content:space-between;

  

}


}





}