.widget-title{
  font-family:$accent;
  font-weight: bold;
  font-size: 20px;
  text-transform:uppercase;
}

.text-widget{
  color:$green;
  font-family:$main;
}

.widget-area{
	border-left:$solid_border;
  width:30%;
  padding:30px;
  font-family:$main;
}

.tent-biz-hours-class{
  
    line-height:2.5;
  
  span{
    font-weight:bold;
  }

}

.widget_archive{
  line-height:2.5;
}