.single-post{
  .entry-footer{
    font-family:$accent;
    padding-top:15px;
    padding-bottom:15px;
    text-transform:uppercase;

  }
  .entry-title{
    font-family:$accent;
    
  }

  .black-button{
    border: 1px solid #000;
    color: #000;
    text-transform:uppercase;
    font-family:$accent;
  }
}